@import 'tailwindcss';

@theme {
  --font-red-hat-text: 'Red Hat Text', serif;
  --shadow-cart: 0px 3px 9px 0px rgba(0, 0, 0, 0.73);
  --color-rose-500: hsl(12, 20%, 44%);
}

html,
body {
  @apply h-full font-red-hat-text bg-rose-50;
}
